@inherits LayoutComponentBase
<div class="page">

    <main>

        <article class="content px-4" style="margin-left:auto; margin-right:auto; width:600px; text-align:center;">
            @Body
        </article>
    </main>
</div>
